/*******************************
  -------[400介绍 -开始]-------
********************************/
.m-introduvtion-txt p {
	font-size: 18px;
	line-height: 1.667;
}
.m-introduvtion-txt p.mb45{
	margin-bottom: 30px;
}

.m-introduvtion-txt h3 {
	font-size: 36px;
	line-height: 1;
	font-weight: normal;
	margin-bottom: 40px;
}
.m-introduvtion-txt>.mb75{margin-bottom: 70px;}
.mb75 {
	margin-bottom: 75px;
}

.mb70 {
	margin-bottom: 70px;
}

.mb45 {
	margin-bottom: 45px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb35 {
	margin-bottom: 35px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb60 {
	margin-bottom: 60px;
}

.m-intro{
	padding-top: 120px;
	background: url(../images/introduction/icon1.png) no-repeat center 55px;
	background-size: 19px;
}

.m-intro.g-libbox {
	padding: 50px 50px 75px;
}
.m-kehu{
	padding-bottom: 100px;
}
.ul-kehu {
	overflow: hidden;
	border: 2px solid #d0d0d0;
	border-radius: 20px;
	background-color: #e9eff2;
	margin-bottom: 30px;
}
.ul-kehu:last-of-type{
	margin-bottom: 0;
}

.g-libbox.m-kehu {
	padding: 60px 40px;
}

.ul-kehu li {
	float: left;
	width: 25%;
}
.ul-kehu li .con{
	border-right: 2px solid #d0d0d0;
	height: 160px;
	text-align: center;
}
	
.ul-kehu li:last-of-type .con{
	border-right: none;
}
.ul-kehu li.b0 {
	border-bottom: 0;
	margin-bottom: 0;
}

.ul-kehu li.b0 .gongsi {
	margin-bottom: 0;
}

.ul-kehu .tel {
	/* font-family: "HeadlineRegular"; */
	font-size: 38px;
	line-height: 1;
	margin-bottom: 15px;
}

.ul-kehu .gongsi {
	font-size: 18px;
}



@media only screen and (min-width: 950px) and (max-width: 1920px) {
	.m-introduvtion-txt p {
		font-size: 0.937vw;
		line-height: 1.667;
	}
	.m-introduvtion-txt p.mb45{
		margin-bottom: 1.562vw;
	}
	.m-introduvtion-txt h3 {
		font-size: 1.875vw;
		line-height: 1;
		font-weight: normal;
		margin-bottom: 2.083vw;
	}
	.m-introduvtion-txt>.mb75{margin-bottom: 3.645vw;}
	.mb75 {
		margin-bottom: 3.906vw;
	}
	.mb70 {
		margin-bottom: 3.645vw;
	}
	.mb45 {
		margin-bottom: 2.343vw;
	}
	.mb40 {
		margin-bottom: 2.083vw;
	}
	.mb35 {
		margin-bottom: 1.822vw;
	}
	.mb30 {
		margin-bottom: 1.562vw;
	}
	.mb60 {
		margin-bottom: 3.125vw;
	}
	.m-intro{
		padding-top: 6.25vw;
		background: url(../images/introduction/icon1.png) no-repeat center 2.864vw;
		background-size: 0.989vw;
	}
	.m-intro.g-libbox {
		padding: 2.604vw 2.604vw 3.906vw;
	}
	.m-kehu{
		padding-bottom: 4.5vw;
	}
	.ul-kehu {
		border: 0.104vw solid #d0d0d0;
		border-radius: 1.041vw;
		margin-bottom: 1.562vw;
	}
	.ul-kehu:last-of-type{
		margin-bottom: 0;
	}
	.g-libbox.m-kehu {
		padding: 3.125vw 2.083vw;
	}
	.ul-kehu li {
	}
	.ul-kehu li .con{
		border-right: 0.104vw solid #d0d0d0;
		height: 8.333vw;
	}
	.ul-kehu li.b0 {
		border-bottom: 0;
		margin-bottom: 0;
	}
	.ul-kehu li.b0 .gongsi {
		margin-bottom: 0;
	}
	.ul-kehu .tel {
		 "HeadlineRegular";
		font-size: 1.979vw;
		line-height: 1;
		margin-bottom: 0.781vw;
	}
	.ul-kehu .gongsi {
		font-size: 0.937vw;
	}
}


@media only screen and (max-width: 950px){
	.m-intro{
		margin-bottom: 100px;
	}
	.m-intro .g-libbox {
		padding: 80px 65px;
	}
	.m-introduvtion-txt p{
		font-size: 28px;
	}
	.m-introduvtion-txt h3{
		font-size: 42px;
		margin-bottom: 40px;
	}
	.m-introduvtion-txt>.mb75{
		margin-bottom: 50px;
	}
	.m-intro .g-tit-m1,
	.m-intro .m-kehu{
		display: none;
	}
	
	
	
	.ul-kehu{
		background-color: transparent;
		border: none;
		margin: 0 -28px;
	}
	.ul-kehu li{
		width: 50%;
		margin-bottom: 50px;
	}
	.ul-kehu li .con{
		border: 2px solid #d0d0d0;
		margin: 0 28px;
		border-radius: 30px;
		background-color: #E9EFF2;
		height: 300px;
		text-align: left;
	}
	.ul-kehu li .con>.mid-h{
		transform: none;
		position: static;
	}
	.ul-kehu .tel{
		border-bottom: 2px solid #d0d0d0;
		padding:60px 40px 20px;
		font-size: 38px;
		margin-bottom: 0;
	}
	.ul-kehu .gongsi{
		padding:40px 40px 0;
		font-size: 30px;
		overflow:hidden;
		display:-webkit-box; 
		-webkit-box-orient:vertical; 
		-webkit-line-clamp:2; 
		text-overflow:ellipsis
	}
	
	
	
	
			.m-intro{
				margin-bottom: 10.52vw;
				padding-top: 17.36vw;
				background-position: center 9.5vw;
			}
			.m-intro .g-libbox {
				padding: 8.421vw 6.842vw;
			}
			.m-introduvtion-txt p{
				font-size: 2.947vw;
			}
			.m-introduvtion-txt h3{
				font-size: 4.421vw;
			}
			.m-introduvtion-txt>.mb75{
				margin-bottom: 5.263vw;
			}
			.m-introduvtion-txt h3{
				margin-bottom: 4.210vw;
			}
			.m-intro .g-tit-m1,
			.m-intro .m-kehu{
			}
			.mb30{
				margin-bottom: 4.5vw;
			}
			.mb60{
				margin-bottom: 6vw;
			}
			.mb45{
				margin-bottom: 4vw;
			}
			.mb70{
				margin-bottom:9vw;
			}
			.ul-kehu{
				border: none;
				margin: 0 -2.947vw;
			}
			.ul-kehu li{
				margin-bottom: 5.263vw;
			}
			.ul-kehu li .con{
				border: 0.210vw solid #d0d0d0;
				margin: 0 2.947vw;
				border-radius: 3.157vw;
				height: 31.57vw;
			}
			.ul-kehu li:last-of-type .con{
				border: 0.210vw solid #d0d0d0;
			}
			.ul-kehu li .con>.mid-h{
				transform: none;
			}
			.ul-kehu .tel{
				border-bottom: 0.210vw solid #d0d0d0;
				padding:6.315vw 3.5vw 2.105vw;
				font-size: 4vw;
				margin-bottom: 0;
			}
			.ul-kehu .gongsi{
				padding:4.210vw 3.5vw 0;
				font-size: 3.157vw;
				-webkit-box-orient:vertical;
				-webkit-line-clamp:2; 
				text-overflow:ellipsis
			}
	
}
/*******************************
  -------[400介绍 -结束]-------
********************************/

/* 400-客户 */
.main-kehu .g-libbox {
	padding-top: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

.m-kehu-tit {
	padding-left: 80px;
	background: url(../images/introduction/ic-1.png) no-repeat 0 center;
	background-size: 60px;
	/* font-family: "HeadlineRegular"; */
	font-size: 36px;
	border-bottom: 3px solid #000000;
	line-height: 3;
	margin-bottom: 30px;
}

.ul-kehu li.mb0 {
	margin-bottom: 0;
}

.m-pages {
	/* position: relative; */
	padding: 30px 0;
	text-align: center;
	margin-top: 50px;
}

.m-pages .btn-next,
.m-pages .btn-prev {
	float: left;
	width: 130px;
	height: 80px;
	background: #fff url(../images/introduction/prev-1.png) no-repeat 0;
	background-size: 100%;
	cursor: pointer;
	transition: .5s;
}

.m-pages .btn-next {
	float: right;
	background-image: url(../images/introduction/next-1.png);
}

.m-pages .btn-next:hover,
.m-pages .btn-prev:hover {
	opacity: .8;
}

.m-pages a {
	width: 100px;
	height: 80px;
	background-color: #fff;
	display: inline-block;
	line-height: 80px;
	font-size: 24px;
	text-align: center;
	border-radius: 40px;
	/* font-family: "HeadlineRegular"; */
	border: 2px solid #d0d0d0;
}

.m-pages a:hover {
	background-color: #e9eff2;
	color: #000000;
}

.m-pages a.on {
	background-color: #e9eff2;
	color: #000000;
}

.ul-kehu-pic {
	overflow: hidden;
	border: 2px solid #d0d0d0;
	border-radius: 20px;
	margin-bottom: 30px;
}
.ul-kehu-pic:last-of-type{margin-bottom: 0;}

.ul-kehu-pic li {
	width: 33.33%;
	float: left;
}

.ul-kehu-pic .con {
	background-color: #fff;
	border-right: 2px solid #d0d0d0;
}
.ul-kehu-pic li:last-of-type .con{border-right: none;}

.ul-kehu-pic .pic {
	width: 100%;
	height: 240px;
	text-align: center;
}

.ul-kehu-pic .pic img {
	/* width: 100%;
	height: 100%; */
	width: auto;
	height: auto;
	max-height: 30%;
	max-width: 60%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.main-kehu .g-libbox .libpic {
	width: 222px;
}

.main-introduvtion .g-libbox .libpic {
	width: 359px;
}


@media only screen and (min-width: 950px) and (max-width: 1920px) {
	.main-kehu .g-libbox {
		padding-top: 1.302vw;
		padding-left: 2.083vw;
		padding-right: 2.083vw;
	}
	.m-kehu-tit {
		padding-left: 4.166vw;
		background: url(../images/introduction/ic-1.png) no-repeat 0 center;
		background-size: 3.125vw;
		/*  "HeadlineRegular"; */
		font-size: 1.875vw;
		border-bottom: 0.156vw solid #000000;
		line-height: 3;
		margin-bottom: 1.562vw;
	}
	.ul-kehu li.mb0 {
		margin-bottom: 0;
	}
	.m-pages {
		/*  */
		padding: 1.562vw 0;
		margin-top: 2.604vw;
	}
	.m-pages .btn-next,
	.m-pages .btn-prev {
		width: 6.770vw;
		height: 4.166vw;
		background: #fff url(../images/introduction/prev-1.png) no-repeat 0;
		background-size: 100%;
		transition: .5s;
	}
	.m-pages .btn-next {
		background-image: url(../images/introduction/next-1.png);
	}
	.m-pages .btn-next:hover,
	.m-pages .btn-prev:hover {
		opacity: .8;
	}
	.m-pages a {
		width: 5.208vw;
		height: 4.166vw;
		line-height: 4.166vw;
		font-size: 1.25vw;
		border-radius: 2.083vw;
		border: 0.104vw solid #d0d0d0;
	}
	.m-pages a:hover {
	}
	.m-pages a.on {
	}
	.ul-kehu-pic {
		border: 0.104vw solid #d0d0d0;
		border-radius: 1.041vw;
		margin-bottom: 1.562vw;
	}
	.ul-kehu-pic:last-of-type{margin-bottom: 0;}
	.ul-kehu-pic li {
		width: 33.33%;
	}
	.ul-kehu-pic .con {
		border-right: 0.104vw solid #d0d0d0;
	}
	.ul-kehu-pic .pic {
		height: 12.5vw;
	}
	.ul-kehu-pic .pic img {
		width: auto;
		height: auto;
		max-height: 30%;
		max-width: 60%;
		transform: translateY(-50%);
	}
	.main-kehu .g-libbox .libpic {
		width: 11.56vw;
	}
	.main-introduvtion .g-libbox .libpic {
		width: 18.69vw;
	}
}


@media only screen and (max-width: 950px){
	.main-introduvtion .g-mzw-tit-m1,
	.main-about-us .g-mzw-tit-m1,
	.main-kehu .g-mzw-tit-m1 .btns{display: none;}
	.main-kehu .m-kehu .m-click-more{
		margin-bottom: 10px;
	}
	.main-kehu .g-mzw-tit-m1:last-of-type{
		margin-top: 0;
	}
	.m-pages{display: none;}
	.m-click-more {
		display: block;
		height: 130px;
		line-height: 130px;
		overflow: hidden;
		border-radius: 65px;
		padding: 0 65px;
		font-size: 28px;
		color: #fff;
		background-color: #184050;
		margin-bottom: 100px;
	}
	.m-click-more:hover{color: #fff;}
	.m-click-more .icon {
		width: 29px;
		height: 48px;
		background: url(../images/kehu/icon.png) no-repeat;
		background-size: 29px 48px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	
	
	
	.main-kehu .m-kehu{
		padding-bottom: 0;
	}
	.ul-kehu-pic{
		display: none;
	}
	.ul-kehu-pic.dn{
		display: block;
		border: none;
		border-radius: 0;
		margin-bottom: -50px;
	}
	.ul-kehu-pic.dn li{
		width: 50%;
		margin-bottom: 50px;
	}
	.ul-kehu-pic .pic{
		height: 100%;
	}
	.ul-kehu-pic .pic img{
		max-width:70%;
	}
	.ul-kehu-pic.dn li .con{
		border: 2px solid #d0d0d0;
		border-radius: 35px 0 0 35px;
		height: 310px;
	}
	.ul-kehu-pic.dn li:nth-of-type(even) .con{
		border-radius: 0 35px 35px 0;
	}
	
			.m-click-more {
				height: 13.68vw;
				line-height: 13.68vw;
				border-radius: 6.842vw;
				padding: 0 6.842vw;
				font-size: 2.947vw;
				margin-bottom: 10.52vw;
				font-weight: normal;
			}
			.m-click-more:hover{color: #fff;}
			.m-click-more .icon {
				width: 3.052vw;
				height: 5.052vw;
				background: url(../images/kehu/icon.png) no-repeat;
				background-size: 3.052vw 5.052vw;
				transform: translateY(-50%);
			}
			.main-kehu .m-kehu{
				padding-bottom: 0;
			}
			.ul-kehu-pic{
			}
			.ul-kehu-pic.dn{
				border: none;
				border-radius: 0;
				margin-bottom: -5.263vw;
			}
			.ul-kehu-pic.dn li{
				margin-bottom: 5.263vw;
			}
			.ul-kehu-pic.dn li .con{
				border: 0.210vw solid #d0d0d0;
				border-radius: 3.684vw 0 0 3.684vw;
				height: 32.63vw;
			}
			.ul-kehu-pic.dn li:nth-of-type(even) .con{
				border-radius: 0 3.684vw 3.684vw 0;
			}
}

/*******************************
  -------[关于我们 -开始]-------
********************************/
.main-about-us .g-libbox .libpic {
	width: 364px;
}
/*******************************
  -------[关于我们 -结束]-------
********************************/



/*******************************
  -------[客户 -开始]-------
********************************/
.main-kehu .m-intro .m-kehu {
	display: block;
}
/*******************************
  -------[客户 -结束]-------
********************************/




@media only screen and (max-width: 500px) {
	.m-introduvtion-txt h3{
		font-size: 18px;
	}
	.m-introduvtion-txt p,
	.ul-kehu .gongsi{
		font-size: 14px;
	}
}


